body {
    background-color: rgba(255, 255, 255, 0.481);
    justify-content: center;
    align-content: center;
}

.card {
    width: 400px;
    height: 450px;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(236, 228, 178);
    margin: 5%;

}

#feed-parent {
    position: relative;
    overflow-y: scroll;
    flex-direction: row;
}

.post-item {
    width: 400px;
    height: 450px;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(236, 228, 178);
    margin: 5%;
}
.post-item-beat-graphic-fake {
    width: 350px;
    height: 350px;
    margin: 5%;
    position:relative;
    display: flex;
    border-radius: 50%;
    background-color: rgb(231, 163, 163);
    justify-content: center;
    align-content: center;
}


.post-item-beat-graphic {
    width:400px;
    border-radius: 5%;
    position:relative;
    display: flex;
    background-color: rgb(176, 115, 255);
    justify-content: center;
    align-content: center;
}

.susp {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.susp div {
    animation: susp 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
